{% extends 'user/index.html.twig' %}

{% block bodyy %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>





    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for event in c %}          <br/>
                <div class="col">
                    <div class="card shadow-sm">

                        <br/>
                        <div class="card-body ">
                            <div class="product__item__pic set-bg" >

                                <a href="#">
                                    <img src="{{ asset('assets/img/'~ event.imageEvent) }}" alt=""  style="height: 200px;width: 250px
">

                                </a>

                            </div>
                            <ul>
                                <li>{{ event.dateDebut }}</li>
                                <li>{{ event.dateFin }}</li>
                                <li>{{ event.descriptionEvent }}</li>
                                <li>{{ event.capacite }}</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">


                                    <a href="{{ path('app_inscription_event') }}" ><span>Iscription</span> <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br/>
                </div>
                <br/>

            {% endfor %}
        </div>

    </div>

{% endblock %}
