{% extends 'admin/index.html.twig' %}
{% block bodyy %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ajouter Events</h5>

                    <!-- General Form Elements -->
                    {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-4 col-form-label">Titre</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.titreEvent,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.titreEvent,{'attr':{'class':'text-danger'}}) }}


                    <label for="inputText" class="col-sm-4 col-form-label">Date de debut</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.dateDebut,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.dateDebut,{'attr':{'class':'text-danger'}}) }}

                    <label for="inputText" class="col-sm-4 col-form-label">date de fin</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.dateFin,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(f.dateFin,{'attr':{'class':'text-danger'}}) }}


                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">image produit</label>
                        {{ form_widget(f.imageEvent) }}





                    <label for="inputText" class="col-sm-4 col-form-label">description</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.descriptionEvent,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(f.descriptionEvent,{'attr':{'class':'text-danger'}}) }}


                    <label for="inputText" class="col-sm-4 col-form-label">capacite</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.capacite,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(f.capacite,{'attr':{'class':'text-danger'}}) }}



                    <label for="inputText" class="col-sm-4 col-form-label">type</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.typeEvent,{'attr':{'class':'form-control'}}) }}
                    </div>
                    {{ form_errors(f.typeEvent,{'attr':{'class':'text-danger'}}) }}
                    <br/>
                    <input type="hidden" value="" id="fill">
                    <div class="col-sm-10" >
                        {{ form_widget(f.Envoyer,{'attr':{'class':'btn btn-primary'}}) }}

                    </div>
                    <br/>


                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>
{% endblock %}