{% extends 'admin/index.html.twig' %}

{%  block title%}Hello EventController!{% endblock %}

{% block bodyy %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table table-striped" border="2">
        <thead> liste de evenement
        <tr>
            <th> Id event</th>
            <th> Titre event</th>
            <th> Date debut</th>
            <th> Date fin</th>
            <th> Image</th>
            <th> Description event</th>
            <th> Capacity</th>
            <th> Type</th>
            <th> Modification</th>
            <th> Suppression</th>
        </tr>
        </thead>
        <tbody>
        {% for event in b %}
            <tr>
                <td>{{event.idEvent}}</td>
                <td>{{event.titreEvent}}</td>
                <td>{{event.dateDebut}}</td>
                <td>{{event.dateFin}}</td>
                <td>{{event.imageEvent}}</td>
                <td>{{event.dateDebut}}</td>
                <td>{{event.capacite}}</td>
                <td>{{event.typeEvent}}</td>
                <td>

                </td>
                <td>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
