{% extends 'baseuser.html.twig'  %}









    {% block title %}Les produits
    {% endblock %}

    {% block body %}
        <section class="bg-light p-3">

        </section>

        <section class="row">
            {%  for produit in b  %}
                <div class="col-2 mt-4">
                    <div class="border border-dark rounded p-2 clearfix">
                        <h2>{{ produit.marque }}</h2>
                        <p>{{ produit.prix }} €</p>
                        <img class="w-70" src="{{ asset('assets/img/'~ produit.imageProd) }}" alt="Image de {{ produit.marque }}">


                        <hr>
                        <a     href="{{ path('index',{'idProd':produit.idProd}) }}" class="btn btn-success">
                            <i class="bi bi-cart-plus"></i> Add Cart
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endblock %}











