







{% extends 'baseUser.html.twig' %}

{% block body %}



    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%  for produit in b  %}                <br/>
                <div class="col">
                    <div class="card shadow-sm">

                        <img class="w-70" src="{{ asset('assets/img/'~ produit.imageProd) }}" alt="Image de {{ produit.marque }}">
                        <br/>
                        <div class="card-body ">

                            <p class="card-text">{{  produit.marque}}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                            <p class="card-text">{{ produit.disponibilite }} </p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <hr>
                                    <a     href="{{ path('index',{'idProd':produit.idProd}) }}" class="btn btn-success">
                                        <i class="bi bi-cart-plus"></i> Add Cart
                                    </a>
                                    <a     href="{{ path('show',{'idProd':produit.idProd}) }}" class="btn btn-success">
                                        <i class="bi bi-"></i> view
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br/>
                </div>
                <br/>

            {% endfor %}
        </div>

    </div>



{% endblock %}










