{% extends 'admin/index.html.twig' %}
{% block bodyy %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 150px; padding: 10px;">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ajouter News</h5>

                    <!-- General Form Elements -->
                    {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-4 col-form-label">Titre</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.titreNews,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.titreNews,{'attr':{'class':'text-danger'}}) }}


                    <label for="inputText" class="col-sm-4 col-form-label">Date de debut</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.contenuNews,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(f.contenuNews,{'attr':{'class':'text-danger'}}) }}


                    <br/>
                    <div class="col-sm-10" >
                        {{ form_widget(f.Envoyer,{'attr':{'class':'btn btn-primary'}}) }}

                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>
{% endblock %}