<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('assetsUser/css/bootstrap.min.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/font-awesome.min.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/elegant-icons.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/plyr.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/nice-select.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/owl.carousel.min.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/slicknav.min.css')}}" type="text/css">
             <link rel="stylesheet" href="{{ asset('assetsUser/css/style.css')}}" type="text/css">
        {% endblock %}

        {% block javascripts %}
          <script src="{{ asset('assetsUser/js/jquery-3.3.1.min.js') }}"></script>
          <script src="{{ asset('assetsUser/js/bootstrap.min.js') }}"></script>
          <script src="{{ asset('assetsUser/js/player.js') }}"></script>
          <script src="{{ asset('assetsUser/js/jquery.nice-select.min.js') }}"></script>
          <script src="{{ asset('assetsUser/js/mixitup.min.js') }}"></script>
          <script src="{{ asset('assetsUser/js/jquery.slicknav.js') }}"></script>
          <script src="{{ asset('assetsUser/js/owl.carousel.min.js') }}"></script>
          <script src="{{ asset('assetsUser/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
   {% block header %}

       <!-- Header Section Begin -->
       <header class="header">
           <div class="container">
               <div class="row">
                   <div class="col-lg-2">
                       <div class="header__logo">
                           <a href="./index.html">
                               <img src="assetsUser/img/logo.png" alt="">
                           </a>
                       </div>
                   </div>
                   <div class="col-lg-8">
                       <div class="header__nav">
                           <nav class="header__menu mobile-menu">
                               <ul>
                                   <li class="active"><a href="./index.html">Homepage</a></li>
                                   <li><a href="./categories.html">streaming <span class="arrow_carrot-down"></span></a>
                                       <ul class="dropdown">
                                           <li><a href="{{ path('display_user_stream') }}">all streams</a></li>
                                           <li><a href="{{ path('add_user_stream') }}">add stream</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="./blog.html">Our Blog</a></li>
                                   <li><a href="#">Contacts</a></li>
                               </ul>
                           </nav>
                       </div>
                   </div>
                   <div class="col-lg-2">
                       <div class="header__right">
                           <a href="#" class="search-switch"><span class="icon_search"></span></a>
                           <a href="./login.html"><span class="icon_profile"></span></a>
                       </div>
                   </div>
               </div>
               <div id="mobile-menu-wrap"></div>
           </div>
       </header>
       <!-- Header End -->

    {% endblock %}

        {% block body %}


       {% endblock %}
    {% block footer %}
   <!-- Footer Section Begin -->
   <footer class="footer">
       <div class="page-up">
           <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-3">
                   <div class="footer__logo">
                       <a href="./index.html"><img src="assetsUser/img/logo.png" alt=""></a>
                   </div>
               </div>
               <div class="col-lg-6">
                   <div class="footer__nav">
                       <ul>
                           <li class="active"><a href="./index.html">Homepage</a></li>
                           <li><a href="./categories.html">Categories</a></li>
                           <li><a href="./blog.html">Our Blog</a></li>
                           <li><a href="#">Contacts</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-lg-3">
                   <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                       Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                       <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

               </div>
           </div>
       </div>
   </footer>
   <!-- Footer Section End -->
    {% endblock %}
    </body>
</html>
