{% extends 'baseadmin.html.twig' %}

{% block title %}Statistiques{% endblock %}



{% block body %}


    <div class="row" style="display:flex;align-items:center;justify-content:center;margin-top:150px;padding: 20px;">


    <section class="section">
        <div class="row">


            <div class="row" style="display:flex;align-items:center;justify-content:center;margin-top:10px;padding: 10px;">

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Radar Chart</h5>

                        <!-- Radar Chart -->
                        <div id="radarChart" style="min-height: 300px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#radarChart")).setOption({
                                    legend: {
                                        data: ['Allocated Budget', 'Actual Spending']
                                    },
                                    radar: {
                                        // shape: 'circle',
                                        indicator: [{
                                            name: 'Sales',
                                            max: 50
                                        },
                                            {
                                                name: 'Administration',
                                                max: 50
                                            },
                                            {
                                                name: 'Information Technology',
                                                max: 50
                                            },
                                            {
                                                name: 'Customer Support',
                                                max: 50
                                            },
                                            {
                                                name: 'Development',
                                                max: 50
                                            },
                                            {
                                                name: 'Marketing',
                                                max: 50
                                            }
                                        ]
                                    },
                                    series: [{
                                        name: 'Budget vs spending',
                                        type: 'radar',
                                        data: [{
                                            value: [{{ proSum|raw }}, {{ proSumq|raw }}, {{ proSump|raw }}, {{ proSumqp|raw }},{{ proIdprom|raw }}],
                                            name: 'Allocated Budget'
                                        },
                                            {
                                                value: [{{ proIdprom|raw }}, {{ pross|raw }}, {{ proIdprom|raw }}, {{ proIdprom|raw }}, {{ proIdprom|raw }}, {{ proIdprom|raw }}],
                                                name: 'Actual Spending'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>
                        <!-- End Radar Chart -->

                    </div>
                </div>
            </div>



                <div class="row" style="display:flex;align-items:center;justify-content:center;margin-top:10px;padding: 10px;">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Polar Area Chart</h5>

                        <!-- Polar Area Chart -->
                        <div id="polarAreaChart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new ApexCharts(document.querySelector("#polarAreaChart"), {
                                    series: [1,2,{{ proSump|raw }}, {{ proSumqp|raw }}],
                                    chart: {
                                        type: 'polarArea',
                                        height: 350,
                                        toolbar: {
                                            show: true
                                        }
                                    },
                                    stroke: {
                                        colors: ['#fff']
                                    },
                                    fill: {
                                        opacity: 0.8
                                    },
                                    labels: ['produit', 'promotion', 'facture', 'prix'],

                                }).render();
                            });
                        </script>
                        <!-- End Polar Area Chart -->

                    </div>
                </div>
            </div>
        </div>

        </div>

        </div>
    </section>

    </div>






{% endblock %}