{% extends 'baseadmin.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

    <div  style="display: flex;align-items: center;justify-items: center;margin-left: 250px; padding: 50px;">
        <div class="card">
            <div class="card-body">
                <a href="{{ path('addfournisseur') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                <h5 class="card-title">Liste des Produit</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>ville</th>
                        <th>adresse</th>
                        <th>tele</th>

                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fournisseur in b %}
                        <tr>
                            <td>{{ fournisseur.nom }}</td>
                            <td>{{ fournisseur.prenom }}</td>
                            <td>{{ fournisseur.ville }}</td>
                            <td>{{ fournisseur.adresse }}</td>
                            <td>{{ fournisseur.tele }}</td>

                            <td>
                                <a class="btn btn-outline-secondary" href="{{ path('modiffournisseur',{'idFou':fournisseur.idFou}) }}">Modifier</a>
                            </td>


                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}
