{% extends 'baseUser.html.twig'  %}
{% block body %}
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 30px; padding: 300px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Blog Backend ADMIN</h5>

                    <!-- General Form Elements -->
                    {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                    <label for="inputText" class="col-sm-40 col-form-label">Quantité</label>
                    <div class="col-sm-40">
                        {{ form_widget(f.quantite,{'attr':{'class':'form-control'}}) }}

                    </div>




                    <label for="inputText" class="col-sm-40 col-form-label">Nom</label>
                    <div class="col-sm-40">
                        {{ form_widget(f.nom,{'attr':{'class':'form-control'}}) }}

                    </div>

                    <label for="inputText" class="col-sm-40 col-form-label">Prenom</label>
                    <div class="col-sm-40">
                        {{ form_widget(f.prenom,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <label for="inputText" class="col-sm-40 col-form-label">prix totale</label>
                    <div class="col-sm-40">
                        {{ form_widget(f.prixtot,{'attr':{'class':'form-control'}}) }}
                    </div>








                    <br/>
                    <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">

                        {{ form_widget(f.Payment,{'attr':{'class':'btn btn-primary'}}) }}
                    </div>

                    {{ form_end(f) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}